/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v16-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/raleway-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

/* задаємо css-змінні */
:root {
  --main-font: 'Roboto', sans-serif;

  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #212121;
  --text-dark-theme-color: rgba(255, 255, 255, 0.6);
  --text-light-theme-color: #757575;
  --accent-color: #2196f3;

  --main-icon-color: #afb1b8;

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* для body можна не задавати клас, а звернутися по імені тега */
.page {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-light-theme-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Утиліти */
/* в html додаємо link до посилань, де потрібно забрати підкреслення */
.link {
  display: block;
  text-decoration: none;
}

/* в html додаємо утиліту list до списків, де потрібно забрати маркер */
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header.studio {
  border-bottom: transparent;
}

.header .container {
  display: flex;
  justify-content: space-between;
  /* замість justify-content можна задати margin-left: auto для списку з e-mail та телефоном */
  align-items: center;
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo .accent {
  color: var(--accent-color);
}

.header .logo {
  margin-right: 85px;

  animation-duration: 3000ms;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link,
.header-connect .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-light-theme-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.header-connect .link {
  color: var(--text-light-theme-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.icon-header-connect {
  margin-right: 10px;
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus,
.header-connect .link:hover,
.header-connect .link:focus {
  color: var(--accent-color);
}

/* в html додаємо додатковий клас current для активної сторінки */
.site-nav .link.current {
  padding-bottom: 0;
}

.site-nav .link.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;

  background-color: var(--accent-color);
}

.header-connect {
  display: flex;
}

.header-connect-item:not(:last-child) {
  margin-right: 30px;
}

.header-connect-item > .link {
  display: flex;
  align-items: center;
}

.icon-header-connect {
  fill: currentColor;
}

.header-connect-item > .link:hover,
.header-connect-item > .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header.jpg');
  background-color: rgba(47, 48, 58, 0.8);
}

.hero .hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}

.button {
  display: block;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
}

.hero > .button {
  margin: 0 auto;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--timing-function);
}

.hero > .button:hover,
.hero > .button:focus {
  background-color: #188ce8;
}

/* Sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-light-theme-color);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}

.text {
  font-weight: 400;
  line-height: 1.71;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

/* Benefits */
.benefits {
  padding-bottom: 0;
}

.benefits .list {
  display: flex;
}

.benefits .list-item {
  width: calc((100% - 90px) / 4);
  /* width: 270px; */
}

.benefits-icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  background-color: #f5f4fa;
}

.icon-benefits-list {
  width: 70px;
  height: 70px;
}

/* Альтернативний варіант додавання іконок через background-image */
/* .benefits .list-item::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
} */

/* Створити додаткові класи для елементів списку */
/* .list-item.icon-antenna::before {
  background-image: url('../images/benefits/image1-antenna.svg');
}

.list-item.icon-clock::before {
  background-image: url('../images/benefits/image2-clock.svg');
}

.list-item.icon-diagram::before {
  background-image: url('../images/benefits/image3-diagram.svg');
}

.list-item.icon-astonaut::before {
  background-image: url('../images/benefits/image4-astronaut.svg');
} */

.benefits .title {
  margin-bottom: 10px;
}

/* What we do */
.what-we-do .list {
  display: flex;
}

.what-we-do .list-item {
  position: relative;
}

.what-we-do .list-item {
  width: calc((100% - 60px) / 3);
}

.what-we-do .title {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 15px;
  text-align: center;

  color: var(--title-dark-theme-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
  background-color: #f5f4fa;
}

.team .list {
  display: flex;
}

.team .list-item {
  width: calc((100% - 90px) / 4);
  padding-bottom: 24px;
  text-align: center;

  background-color: var(--title-dark-theme-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .team-image {
  margin-bottom: 30px;
}

.team .team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-light-theme-color);
}

.team .position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team .social-links {
  justify-content: center;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--main-icon-color);
}

.team .social-network {
  transition: background-color var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.icon-social-link {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.team .social-network:hover,
.team .social-network:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Clients */
.clients .list {
  display: flex;
}

.clients .clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-icon-color);
  border: 1px solid var(--main-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;

  transition: color var(--transition-duration) var(--timing-function),
    border-color var(--transition-duration) var(--timing-function);
}

.clients .clients-list-link:hover,
.clients .clients-list-link:active,
.clients .clients-list-link:focus {
  color: #2196f3;
  border-color: var(--accent-color);
  outline: none;
}

.clients .clients-logo {
  fill: currentColor;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer .container {
  align-items: baseline;
  display: flex;
}

.footer .contacts {
  margin-right: 83px;
}

.footer .join-us {
  margin-right: 94px;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--title-dark-theme-color);
}

.footer-address .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-dark-theme-color);
}

.footer-address > .link:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer-map {
  color: var(--title-dark-theme-color);
}

.footer .title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--title-dark-theme-color);
}

.join-us > .list {
  display: flex;
}

.join-us .social-network {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration) var(--timing-function);
}

.join-us .icon-social-link {
  fill: #ffffff;
}

.join-us .social-network:hover,
.join-us .social-network:focus {
  background-color: var(--accent-color);
}

.footer .button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer .icon-sign {
  margin-left: 10px;

  fill: var(--title-dark-theme-color);

  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}

/* Альтернативний варіант додавання іконки через псевдоелемент та background-image */
/* .footer .button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/footer/icon-sign.svg');
} */

/* Page Portfolio */
.portfolio .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio .filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .card {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .card-item {
  width: calc((100% - 60px) / 3);

  transition: box-shadow var(--transition-duration) var(--timing-function);
  /* width: 370px; */
}

.portfolio .card-item:hover,
.portfolio .card-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio .card-content {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio .card-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio .card-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio .title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-light-theme-color);
}

.portfolio .button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
  background-color: #f5f4fa;

  transition: color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio .button:focus,
.portfolio .button:hover,
.portfolio .button:active {
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
  outline: transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio .card-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio .overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-dark-theme-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform var(--transition-duration) var(--timing-function),
    opacity var(--transition-duration) var(--timing-function);
}

.card-item:hover .overlay-text,
.card-item:focus .overlay-text {
  transform: translateY(0);
  opacity: 1;
}

/* Footer form */
.footer-form {
  width: 570px;
}

.footer-form input {
  display: block;
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-field {
  display: flex;
}

.form-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--transition-duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-form {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--timing-function);
}

.modal-invite {
  display: block;
  margin-bottom: 30px;
  text-align: center;

  font-size: 20px;
  color: var(--title-light-theme-color);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill var(--transition-duration) var(--timing-function);
}

.icon-modal-close-button {
  display: block;
  margin: 0 auto;

  width: 18px;
  height: 18px;
}

.modal-close-button:focus,
.modal-close-button:hover {
  fill: var(--accent-color);
}

.modal-form-input-field,
.modal-form-comment-field {
  position: relative;
  cursor: pointer;
}

.modal-form-input-field {
  margin-bottom: 28px;
}

.modal-form-comment-field {
  margin-bottom: 20px;
}

.modal-form-input {
  padding-left: 42px;
}

.modal-form-comment {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.modal-form-input,
.modal-form-comment {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-light-theme-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: inherit;

  transition: border-color Var(--transition-duration) var(--timing-function),
    fill var(--transition-duration) var(--timing-function);
}

.modal-form-input:focus,
.modal-form-comment:focus,
.modal-form-input:not(:placeholder-shown),
.modal-form-comment:not(:placeholder-shown) {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus ~ .icon-modal-form-input {
  fill: var(--accent-color);
}

.icon-modal-form-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
}

.modal-form-label {
  position: absolute;

  line-height: 1.14;
  letter-spacing: 0.01em;
  cursor: inherit;

  transition: transform var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function);
}

.modal-form-input + .modal-form-label {
  top: 50%;
  left: 42px;

  transform: translateY(-50%);
}

.modal-form-comment + .modal-form-label {
  top: 12px;
  left: 16px;
}

.modal-form-input:focus + .modal-form-label,
.modal-form-comment:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label,
.modal-form-comment:not(:placeholder-shown) + .modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-label,
.modal-form-input:not(:placeholder-shown) + .modal-form-label {
  transform: translate(-25px, -37px);
}

.modal-form-comment:focus + .modal-form-label,
.modal-form-comment:not(:placeholder-shown) + .modal-form-label {
  transform: translateY(-29px);
}

.modal-form-option-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  line-height: 1.71;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox {
  background-image: url(../images/icon-checked.svg);
  background-size: contain;
  background-origin: border-box;

  border-color: transparent;
  background-color: var(--accent-color);
}

.modal-form .link-contract {
  color: var(--accent-color);
}

.modal-form .button {
  margin: 0 auto;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: background-color var(--transition-duration) var(--timing-function);
}

.modal-form .button:hover,
.modal-form .button:focus {
  background-color: #188ce8;
}
